<!-- @format -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style>
  * {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
  }
  #sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
    padding-top: 50px;
  }
  #sidebar.active {
    left: 0px;
  }
  #sidebar ul li {
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    cursor: pointer;
  }
  #sidebar ul li:hover {
    background: rgba(0, 0, 0, 0.2);
    color: blue;
  }

  #sidebar .toggle-btn {
    position: absolute;
    left: 210px;
    top: 20px;
  }
  #sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 5px 0px;
  }

  .font-style {
    margin: 20px 10px;
  }
  h1 {
    color: black;
  }
</style>

<header>
  <div id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul id="nav">
      <li id="home">Home</li>
      <li id="add">Add new</li>
      <li id="analytics">Analytics</li>
    </ul>
  </div>
</header>

<script>
  const tokenNav = localStorage.getItem("token");

  document.getElementById("home").addEventListener("click", () => {
    window.location.href = "/?token=" + tokenNav;
  });
  document.getElementById("add").addEventListener("click", () => {
    window.location.href = "/add?token=" + tokenNav;
  });

  function toggleSidebar() {
    document.getElementById("sidebar").classList.toggle("active");
  }
</script>
